<div class="menu-nav">
    <nav>
        <ul>
            <li class="active"><a href="">Vagas</a></li>
            <li><a href="">Capacite-se</a></li>
            <li><a href="">Empresas</a></li>
            <li><a href="">Estágios Voluntários</a></li>
            <li>
                <div class="button__container">
                    <button type="submit"  ref="" class="btn-entrar">Entrar</button>
                </div>
            </li>
            <li>
                <div class="button__container">
                    <button type="submit"  ref="" class="btn-cadastrar">Cadastrar</button>
                </div>
            </li>
        </ul>
    </nav>
</div>   