
.menu-nav{
   /* flex: 1;*/
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50px;
    right: 50px;
}
.menu-nav ul,
.menu-nav li{
    list-style: none;
}
.menu-nav ul{
    display: flex;
    flex-direction: row;

}
.menu-nav li a {
    color: #626060;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #626060;
    font-family: 'Roboto';
}
.menu li a:hover{
    border-bottom: 1px solid #CB997E;
    color: #cccccc;
}
.menu.active a{
    border-bottom: 1px solid #CB997E;
    color: #cccccc;
}
.button__container {
    display: flex;
    justify-content: center;    
    text-transform: uppercase;
    width: 80%;
    border-radius: 20px;
    color: #FFFFFF;
}

.btn-entrar{
    background:#CB997E;
    width: 200px;
    height: 20px;
    border: 1px solid #626060;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Roboto';
}
.btn-cadastrar{
    background:#626060;
    width: 200px;
    height: 20px;
    border: 1px solid #626060;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Roboto';
}