.screen__container {
    display: flex;
    height: 100%;
    width: 100%;
    /*background-color: red;*/
}

.perfil_background__container__menor {
    background-color: #FFFFFF;
    background-size: cover;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.perfil_background__container {
    background-color: #FFFFFF;
    background-size: cover;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.login_background__logo  img{
    width: 500px;
    margin-left: 150px;
    margin-top: 300px;
}
.grafismo-bottom {
    position: absolute;
    bottom:0;
    right: 0; 
}

.grafismo-bottom div{
    width: 100px;
    height: 100px;   
    background: #CB997E;
    opacity: 0.4;
    border-radius: 100% 100% 0 0;
}

.grafismo-topo {    
    position: absolute;
    top:0;
    left: 0; 
}

.grafismo-topo div{
    width: 150px;
    height: 150px;   
    background: #CB997E;
    opacity: 0.4;
    border-radius: 0 0 100% 100%;
}

.welcome__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.welcome__identificador{
    justify-content: center;
    margin-left: 150px;
    margin-top:0;
    margin-bottom: 0;
}
.welcome__identificador h3{
    text-transform: uppercase;
    font-family: 'Saira';
    color: #000000;
    font-size: 60px;
    font-weight: 400;   
}
.welcome__subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 600px;
    margin-left: 100px;
    margin-top:0;
    margin-bottom: 0;
}
.welcome__subtitle h6{
        font-family: 'Saira';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        letter-spacing: -0.01em;
        color: #000000;
}
.btn-entrar{
    display: flex;
    justify-content: center;    
    background:#CB997E;
    text-transform: uppercase;
    width: 200px;
    height: 20px;
    border: 1px solid #626060;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Saira';
}
.btn-cadastrar{
    display: flex;
    justify-content: center;    
    background:#626060;
    text-transform: uppercase;
    width: 200px;
    height: 20px;
    border: 1px solid #626060;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Saira';
}
.btn-info{
    display: flex;
    justify-content: center;    
    background:#626060;
    text-transform: uppercase;
    width: 200px;
    height: 20px;
    border: 1px solid #626060;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Saira';
}
.welcome__img {
    width: 600px;
    margin:20px;
}

/*

.button__container {
    display: flex;
    justify-content: center;    
    background:#626060;
    text-transform: uppercase;
    width: 80%;
    border: 1px solid #626060;
    border-radius: 20px;
    color: #FFFFFF;
}
*/
/*menu*/

.menu-nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu-nav ul,
.menu-nav li{
    list-style: none;
}
.menu-nav ul{
    display: flex;
}
.menu-nav li a {
    color: #626060;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #626060;
    font-family: 'Saira';
}
.menu li a:hover{
    border-bottom: 1px solid #CB997E;
    color: #cccccc;
}
.menu.active a{
    border-bottom: 1px solid #CB997E;
    color: #cccccc;
}
