<div class="screen__container">
  
    <div class="perfil_background__container">
        <div class="welcome__container">
            <div class="grafismo-topo">
                <div></div>
            </div> 
            <div class="welcome__container__logo">
                <img src="../../../assets/auth/logo.png" alt="Logo Mãe Tech"> 
            </div>      
            <div class="welcome__identificador">
                <h3 class="welcome__text">Vagas</h3>
            </div>
            <div class="welcome__subtitle">
                <h6>
                    Acreditamos na educação e constante aprendizado das profissionais através da capacitação. Aqui na MãeTech, disponibilizamos para você workshops e mentorias online de acordo com a área desejada. Estas podem ser voluntárias ou por iniciativas das empresas parceiras. Aqui acreditamos que a união faz a força!
                </h6>
            </div>
            <div class="button__container">
                <button type="submit"  ref="" class="btn-info">Saiba mais!</button>
            </div>
        </div>
    </div>
    <div class="perfil_background__container">
            <div class="menu-nav">
                <app-nav-bar></app-nav-bar>    
            </div>   
    </div> 
        <div class="welcome__container">
            <div>
                 <img class="welcome__img" src="../../../assets/auth/girl-taking-selfie 1.png" alt="">
            </div> 
            <div class="grafismo-bottom">
                <div></div>
            </div>
    </div>
</div>


