<div class="screen__container">
  
    <div class="perfil_background__container">
        <div class="welcome__container">
            <div class="grafismo-topo">
                <div></div>
            </div> 
            <div class="welcome__container__logo">
                <img src="../../../assets/auth/logo.png" alt="Logo Mãe Tech"> 
            </div>      
            <div class="welcome__identificador">
                <h3 class="welcome__text">Empresas</h3>
            </div>
            <div class="welcome__subtitle">
                <h6>
                    Em nossa plataforma é possível cadastrar as vagas abertas para as profissionais da tecnologia recém capacitadas ou que buscam sua primeira oportunidade, assim como filtrar profissionais pelas habilidades que sua empresa procura no momento.
                </h6>
            </div>
            <div class="button__container">
                <button type="submit"  ref="" class="btn-info">Saiba mais!</button>
            </div>
        </div>
    </div>
    <div class="perfil_background__container">
            <div class="menu-nav">
                <app-nav-bar></app-nav-bar>    
            </div>   
    </div> 
        <div class="welcome__container">
            <div>
                 <img class="welcome__img" src="../../../assets/auth/mimi-thian.png" alt="">
            </div> 
            <div class="grafismo-bottom">
                <div></div>
            </div>
    </div>
</div>
