.grafismo-bottom {
    position: absolute;
    bottom:0;
    left: 0; 
    div{
        width: 100px;
        height: 100px;   
        background: #CB997E;
        opacity: 0.4;
        border-radius: 0 100% 0 0;
    }
}
.grafismo-topo {    
    position: absolute;
    top:0;
    right: 0; 
    div{
    width: 100px;
    height: 100px;   
    background: #CB997E;
    opacity: 0.4;
    border-radius: 0 0 0 100%;
    }
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
}

.form_input {
    background: rgba(196, 196, 196, 0.5);
    border-radius: 30px;
    
}

.form_input__container {
    margin-top: 10px;
}

.input-group-text {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btn {
    background:#CB997E;
    text-transform: uppercase;
    width: 80%;
    border: 1px solid #626060;
    border-radius: 20px;
}

.button__container {
    display: flex;
    justify-content: center;
}

.login_background__container {
    background-color: #FFFFFF;
    background-size: cover;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;/**/
    margin: 0;
    padding: 0;
}

.screen__container {
    display: flex;
    height: 100%;
    width: 100%;
    /*background-color: red;*/
}

.login_background__logo {
    img {
        width: 300px;
        margin: 20px;
        margin-left: 100px;
    }
}
.welcome__img {
    width: 500px;
    margin-top: -20px;
}

.welcome__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 40vw;
    h6 {
        font-family: 'Sawarabi Gothic';
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 35px;
        display: flex;
        letter-spacing: -0.01em;
        color: #626060;
    }
}

.signup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    h4 {
        color: #626161;
        font-size: 22px;
    }
    a {
        text-decoration: none;
        color:#CB997E;
        ;
        h5 {
            font-size: 22px;
        }
    }
}
.form__user_img {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}