<div class="screen__container">
    <div class="login_background__container">
        <div class="login_background__logo">
            <img src="../../../assets/auth/logo.png" alt="Logo Mãe Tech">
        </div>
        <div class="welcome__container">
            <img class="welcome__img" src="../../../assets/auth/welcome.png" alt="">
            <!--<div class="welcome__diagonal"> 
                <h3 class="welcome__text">lorem
                </h3>
            </div> -->
            <div class="welcome__subtitle">
                <h6>
                    Olá! Aqui queremos alinhar as mães que buscam vagas em tecnologia e empresas que valorizam a diversidade em seus times. Basta fazer seu cadastro e usar nosso portal! 
                </h6>
            </div>
        </div>
    </div>
    <div class="form__container">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form__user_img">
                <img src="../../../assets/auth/user.png" alt="">
            </div>
            <div>
                <div class="form-group">
                    <div class="form-group form_input__container">
                        <!-- <label class="active " for="email ">Seu email</label> -->
                        <div class="input-group">
                            <!--alterar dados? Deixar Login da empresa com email?-->
                            <input id="email " type="text " class="form_input form-control " placeholder="E-mail cadastrado" name="email" ngModel required formControlName="email">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <span class="material-icons">
                                        person
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form_input__container">
                        <!-- <label class="active" for="password">Sua senha</label> -->
                        <div class="input-group">
                            <input [type]="fieldTextType ? 'text' : 'password'" id="password" type="password" class="form_input form-control" placeholder="Senha" name="password" ngModel required formControlName="password">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <span class="material-icons" (click)="toggleFieldTextType()">
                                        {{changeIcon()}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button__container">
                    <button type="submit" [disabled]="!loginForm.valid" ref="" class="btn btn-info">Entrar</button><!--alterando acesso para as telas "!loginForm.valid"-->
                </div>
            </div>
        </form>
        <div class="signup__container">
            <h4>Ainda não é uma MãeTech?</h4> 
            <a routerLink="/cadastrar" href="#">
                <h5>Junte-se a nós agora!</h5> 
            </a>
        </div>
    </div>
</div>