@import '../login/login.component.scss';

.radio_group {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
    color: #626060;
    font-family: 'Sawarabi Gothic';
}

form {
    width: 50%;
}